<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>




<form method="post" style="max-width:500px;" th:object="${property}">



    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="address">Address</label>
        <input class="form-control" th:field="*{address}" />
        <span th:errors="*{address}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>




     <div class="form-group">
         <label th:for="type">Status</label>
         <select name="statusId">
             <option th:each="status : ${statuses}"
                     th:text="${status.name}"
                     th:value="${status.id}"></option>
         </select>
     </div>

    <div class="form-group">
        <label th:for="type">Agent</label>
        <select name="userId">
            <option th:each="user : ${users}"
                    th:text="${user.name}"
                    th:value="${user.id}"></option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary">Add Property</button>
    <!--<input type="submit" value="Add Property" />-->
</form>



</body>

<hr />

<style type="text/css">
    div#map_container{
        width:50%;
        height:250px;
    }
</style>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSIEFaC-X_3jsvTCV2u7KyrwH9Dz5zOVo "></script>

<script type="text/javascript">
    function loadMap() {
        var latlng = new google.maps.LatLng(38.7486972, -90.3700289);
        var myOptions = {
            zoom: 10,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_container"),myOptions);

        var marker = new google.maps.Marker({
            position: latlng,
            map: map,

        });

    }
</script>


<body onload="loadMap()">
<div id="map_container"></div>
</body>



</html>

