<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>




<!--<p th:text="'Welcome, ' + ${user.name} + '!'"></p>
<p th:each="user : ${users}" th:text="${user.name}"></p>-->

<form method="post" style="max-width:600px;" th:object="${property}">


    <!--<div class="form-group">
     <ul>
            <li th:each="user : ${users}" th:text="${user.name}"  th:value="${user.id}">
            </li>
        </ul>
    </div>-->

    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="address">Address</label>
        <input class="form-control" th:field="*{address}" />
        <span th:errors="*{address}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>




     <div class="form-group">
         <label th:for="type">Status</label>
         <select name="statusId">
             <option th:each="status : ${statuses}"
                     th:text="${status.name}"
                     th:value="${status.id}"></option>
         </select>
     </div>

    <div class="form-group">
        <label th:for="type">Users</label>
        <select name="userId">
            <option th:each="user : ${users}"
                    th:text="${user.name}"
                    th:value="${user.id}"></option>
        </select>
    </div>



    <input type="submit" value="Add Property" />
</form>

</body>
</html>

