
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${properties} and ${properties.size()}">no properties added :(</p>





<table class="table table-hover">
    <thead class="thead-dark">

    <tr>

        <th>Name</th>
        <th>Address</th>
        <th>Description</th>
        <th>Status</th>
        <th>Agent</th>
    </tr>

    </thead>

    <tr th:each="property : ${properties}">

        <td th:text="${property.name}"></td>
        <td th:text="${property.address}"></td>
        <td th:text="${property.description}"></td>
        <td th:text="${property.status.name}"></td>
        <td th:text="${property.user.name}"></td>
    </tr>

</table>


<button type="submit" class="btn btn-secondary"><a href="/property/add">Add</a></button>
<button type="submit" class="btn btn-secondary"><a href="/property/remove">Remove</a></button>

<!--<a href="/property/add">Add</a> |
<a href="/property/remove">Remove</a>-->

</body>
</html>
