<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<p><h1>HOME FINDER</h1></p>
<hr />

<p><h3><a href="login">LOG IN</a></h3></p>
<p>Or</p>

<h2 th:text="${title}">Default Title</h2>




<form method="post" style="max-width:400px;" th:object="${user}">
    <div class="form-group">
        <label th:for="name">Employee Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span><span th:text="${userExistsError}" class="error"></span>

        <br/>


        <label th:for="email">Email</label>
        <input type="email" class="form-control" th:field="*{email}" />
        <span th:errors="*{email}" class="error"></span>

        <br/>

        <label th:for="password">Password</label>
        <input type="password" class="form-control" th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>

        <br/>

        <label for="verify">Verify Password</label>
        <input type="password" class="form-control" field="verify" id="verify" name="verify" />
        <span th:text="${verifyError}" class="error"></span>

        <br/>




        <button type="submit" class="btn btn-primary">Submit</button>
        <!--<input type="submit" value="Create Account" />-->
    </div>
</form>

</body>
</html>