<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label for="userName">Name</label>
        <input type="text" class="form-control" th:value="${previousUsername}" id="userName" name="userName" />
        <span th:text="${usernameError}" class="error"></span>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" />
        <span th:text="${passwordError}" class="error"></span>
    </div>
    <br/>




    <input type="submit" value="Login" />
</form>

</body>
</html>