<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${statuses} and ${statuses.size()}">no status :(</p>




<ul class="list" >

    <ul th:each="status : ${statuses}">
        <li th:text="${status.name}"></li>
    </ul>

</ul>

<button type="submit" class="btn btn-secondary"><a href="/status/add">Add Status</a></button>
<!--<a href="/status/add">Add Status</a>-->

</body>
</html>